{% extends 'layout.html' %}

{% block content %}
    <div class="flex h-screen flex-col items-center justify-center space-y-10">
        <form class="border border-neutral-700 rounded p-4 flex-col space-y-3" action="/login" method="post">
            <h1 class="text-4xl font-semibold text-center">
                Login
            </h1>
            <input type="password"
                   class="border-input border-neutral-700 bg-neutral-800 ring-offset-background placeholder:text-muted-foreground 
           focus-visible:ring-ring flex h-10 w-full rounded-md border px-3 py-2  focus-visible:outline-none
            focus-visible:ring-2 focus-visible:ring-offset-2"
                   id="masterPassword"
                   name="masterPassword"
                   placeholder="Password"
            />
            <span class="text-sm text-rose-600">{{ loginError }}</span>

            <button class="ring-offset-background focus-visible:ring-ring flex h-10 w-full items-center justify-center
     whitespace-nowrap rounded-md bg-neutral-900 hover:bg-neutral-700 px-4 py-2  text-white transition-colors 
     focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"
                    type="submit">
                Unlock
            </button>
        </form>

        {% include "resetLogin.html" %}

    </div>


{% endblock %}